.forgot-password-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.forgot-password-left form {
    width: 80%;
    padding: 2rem;
}

.forgot-password-left h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.forgot-password-right{
    display: flex;
    align-items: start;
    justify-content: start;
    min-width: 40%;
    height: 60vh;
}

.forgot-password-right-image-container{
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-to-login{
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 1rem;
    border: 2px solid #007bff;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

.or-divider span{
    color: #888;
    font-size: 14px;
    width: fit-content;
    padding: 0 5px;
}

.forgot-password-right-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 950px) {
    .forgot-password-left form{
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .forgot-password-right{
        display: none;
    }

    .forgot-password-left{
        width: 90%;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .forgot-password-left h1 {
        width: 100%;
        text-align: start;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .forgot-password-left p {
        width: 100%;
        text-align: start;
        font-size: 16px;
    }
}