.set-new-password-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    gap: 40px;
    padding: 40px;
}

.set-new-password-page-left {
    width: 60%;
    /* max-width: 500px; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
}

.set-new-password-page-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.set-new-password-page-right-image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.set-new-password-page-right-image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.set-new-password-page-left form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.set-new-password-page-finish{
    width: 100%;
}

.verify-form-heading h1{
    width: fit-content;
}

.verify-form-heading p {
    color: #666;
    font-size: 14px;
    text-align: start;
}

@media only screen and (max-width: 768px) {
    .set-new-password-page-right{
        display: none;
    }

    .set-new-password-page-left{
        width: 100%;
        padding: 20px;
        padding: 0;
    }

    .set-new-password-page-left form {
        width: 100%;
    }
}