.calendar-component-holder{
    display: flex;
    gap: 40px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.dashboard-contents{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-section{
    height: 30%;
}

.calendar-section{
    height: 70%;
}

.calendar-component-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.calendar-component-right{
    display: flex;
    width: 50%;
}

.notes-todos-holder{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 400px;
}

.todos-component-holder{
    width: 50%;
}

.notes-component-holder{
    width: 50%;
}

@media only screen and (max-width: 1350px) {
    .calendar-component-holder{
        flex-direction: column;
    }

    .profile-section{
        height: 150px;
    }

    .calendar-component-left, .calendar-component-right{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .profile-section{
        height: auto;
    }
}