.notes-page {
	display: flex;
}

@media screen and (max-width: 950px) {
	.notes-page-stack {
		display: none !important;
	}

	.note-display {
		width: 100% !important;
		max-width: 100% !important;
		border-left: none !important;
	}
}
