.calendar-body {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
}

.date{
    border: 2px solid transparent;
    transition: .2s;
    border-radius: 7px;
    transition: .2s;
}

.date:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    color: #007bff;
}

.selected-date {
    border: 2px solid var(--theme-color);
}

.today{
    border-radius: 7px;
    background-color: var(--theme-color);
    color: white;
}