.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.change-current{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    justify-content: space-between;
    width: 100%;
}

.week-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0;
    width: 100%;
    font-weight: bold;
    color: #555;
}

.change-current h1{
    font-size: 20px;
}

.day{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

#prev-month, #next-month {
    display: flex;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#prev-month:hover, #next-month:hover {
    background-color: #007bff;
    color: white;
}

@media only screen and (max-width: 1200px){
    .change-current h1{
        font-size: 16px;
    }

    #prev-month, #next-month {
        height: 35px;
        width: 35px;
        font-size: 16px;
    }
    
}