.calendar-body {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
}

.date{
    border: 2px solid transparent;
    transition: .2s;
}

.date:hover{
    border: 2px solid var(--theme-color);
    cursor: pointer;
}

.today{
    border-radius: 7px;
    background-color: var(--theme-color);
    color: white;
}

.selected-date {
    border: 2px solid var(--theme-color);
    /* color: #007bff; */
    border-radius: 7px;
}
