.appointment-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 12px;
    padding: 20px 0;
    height: 180px;
    border: 2px solid var(--border-color);
    position: relative;
    transition: .2s;
}

.appointment-component:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E7F2FF;
    border: 2px solid var(--theme-color);
}

.appointment-component:hover .appointment-component-right-header{
    color: var(--theme-color);
}

.appointment-component-left{
    color: var(--theme-color);
    padding: 20px;
}

.appointment-component-right{
    padding-right: 20px;
}

.appointment-component-right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-component-right-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.appointment-component-right-body p{
    height: 30px;
    overflow: hidden;
}

.appointment-component-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.appointment-component-details-info{
    display: flex;
    justify-content: start;
    width: 50%;
    gap: 5px;
    font-size: 14px;
    align-items: center;
}

.appointment-component-details-info p,i{
    height: 100%;
}

.appointment-component-details-info{
    color: var(--theme-color);
}