@import "tailwindcss";

/* HomeFooter main container */
.home-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    margin-top: 60px;
    height: 50vh;
}

.home-footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-footer p {
    font-size: 16px;
    color: #555;
}

.home-footer-heading {
    font-size: 24px;
    font-weight: 600;
    color: #007bff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer-heading img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.home-footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-footer-details p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.home-footer-socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.home-footer-socials img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home-footer-gototop {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 20px;
    position: fixed;
    right: 50px;
    border: 2px solid #007bff;
    bottom: 50px;
    z-index: 50;
    cursor: pointer;
}

.home-footer-links {
    display: flex;
    width: 70%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.home-footer-links-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.home-footer-links-section h3 {
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
    margin-bottom: 10px;
    width: 100%;
}

.home-footer-links-list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.home-footer{
    padding: 0 20px;
}

@media screen and (max-width: 1000px) {
    .home-footer-details{
        display: flex;
        text-align: start;
    }

    .home-footer{
        gap: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .home-footer-heading h1 {
        font-size: 20px;
    }

    .home-footer-left{
        align-items: start;
    }

    .home-footer-links{
        gap: 20px;
    }

    .home-footer{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 40px;
        padding: 20px;
    }

    .home-footer-left{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .home-footer-details{
        text-align: center;
    }

    .home-footer-links{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 450px) {
    .home-footer-links{
        flex-direction: column;
        align-items: center;
    }

    .home-footer-links-section{
        width: 100%;
        justify-content: start;
        align-items: start;
    }
}