.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    margin-top: 60px;
}

.what-we-do-container {
    width: 90%;
    padding: 20px 10px;
    padding-bottom: 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f4f4f4;
}

.what-we-do-container h1 {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-top: 40px;
}

.we-do-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Responsive */
@media only screen and (max-width: 950px) {
    .what-we-do {
        padding: 20px 0px;
    }

    .what-we-do-container h1 {
        font-size: 2rem;
    }

    .we-do-section {
        gap: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .straight {
        flex-direction: column;
        align-items: center;
    }

    .opposite {
        flex-direction: column-reverse;
        align-items: center;
    }

    .we-do-section{
        position: relative;
    }

    .what-we-do-container h1 {
        font-size: 18px;
    }

    .what-we-do-container {
        padding: 40px 20px;
    }

    .what-we-do-container h1{
        margin-top: 0;
    }
}

@media only screen and (max-width: 380px) {
    .we-do-left h2,
    .we-do-right h2 {
        text-align: start;
    }
}
