main{
    width: calc(100% - 240px);
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 240px;
    padding: 20px;
}

@media only screen and (max-width: 1000px) {
    main{
        width: calc(100% - 100px);
        margin-left: 100px;
    }
}

@media only screen and (max-width: 750px) {
    main{
        width: 100%;
        margin: 0;
    }
}